<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main.java.dao.AwardInfoMapper" >
  <resultMap id="BaseResultMap" type="main.java.entity.AwardInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="award_name" property="awardName" jdbcType="VARCHAR" />
    <result column="award_grade" property="awardGrade" jdbcType="VARCHAR" />
    <result column="award_num" property="awardNum" jdbcType="INTEGER" />
    <result column="probability" property="probability" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, award_name, award_grade, award_num, probability, addtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from award_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from award_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="main.java.entity.AwardInfo" >
    insert into award_info (id, award_name, award_grade, 
      award_num, probability, addtime
      )
    values (#{id,jdbcType=INTEGER}, #{awardName,jdbcType=VARCHAR}, #{awardGrade,jdbcType=VARCHAR}, 
      #{awardNum,jdbcType=INTEGER}, #{probability,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="main.java.entity.AwardInfo" >
    insert into award_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="awardName != null" >
        award_name,
      </if>
      <if test="awardGrade != null" >
        award_grade,
      </if>
      <if test="awardNum != null" >
        award_num,
      </if>
      <if test="probability != null" >
        probability,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="awardName != null" >
        #{awardName,jdbcType=VARCHAR},
      </if>
      <if test="awardGrade != null" >
        #{awardGrade,jdbcType=VARCHAR},
      </if>
      <if test="awardNum != null" >
        #{awardNum,jdbcType=INTEGER},
      </if>
      <if test="probability != null" >
        #{probability,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="main.java.entity.AwardInfo" >
    update award_info
    <set >
      <if test="awardName != null" >
        award_name = #{awardName,jdbcType=VARCHAR},
      </if>
      <if test="awardGrade != null" >
        award_grade = #{awardGrade,jdbcType=VARCHAR},
      </if>
      <if test="awardNum != null" >
        award_num = #{awardNum,jdbcType=INTEGER},
      </if>
      <if test="probability != null" >
        probability = #{probability,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="main.java.entity.AwardInfo" >
    update award_info
    set award_name = #{awardName,jdbcType=VARCHAR},
      award_grade = #{awardGrade,jdbcType=VARCHAR},
      award_num = #{awardNum,jdbcType=INTEGER},
      probability = #{probability,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!-- 一下为自定义方法 -->
  <select id="listAwardInfo" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from award_info
  	<where>
  		<if test="awardInfo.awardName != null and !&quot;&quot;.equals(awardInfo.awardName.trim())">
  			and award_name = #{awardInfo.awardName}
  		</if>
  		<if test="awardInfo.awardGrade != null and !&quot;&quot;.equals(awardInfo.awardGrade.trim())">
  			and award_grade = #{awardInfo.awardGrade}
  		</if>
  		<if test="awardInfo.awardNum != null and !&quot;&quot;.equals(awardInfo.awardNum.trim())">
  			and award_num = #{awardInfo.awardNum}
  		</if>
  		<if test="awardInfo.probability != null and !&quot;&quot;.equals(awardInfo.probability.trim())">
  			and probability = #{awardInfo.probability}
  		</if>
  	</where>
  </select>
  
  <select id="countAwardInfo" resultType="int" parameterType="main.java.entity.AwardInfo">
  	select count(*) from award_info
  	<where>
  		<if test="awardInfo.awardName != null and !&quot;&quot;.equals(awardInfo.awardName.trim())">
  			and award_name = #{awardInfo.awardName}
  		</if>
  		<if test="awardInfo.awardGrade != null and !&quot;&quot;.equals(awardInfo.awardGrade.trim())">
  			and award_grade = #{awardInfo.awardGrade}
  		</if>
  		<if test="awardInfo.awardNum != null and !&quot;&quot;.equals(awardInfo.awardNum.trim())">
  			and award_num = #{awardInfo.awardNum}
  		</if>
  		<if test="awardInfo.probability != null and !&quot;&quot;.equals(awardInfo.probability.trim())">
  			and probability = #{awardInfo.probability}
  		</if>
  	</where>
  </select>
</mapper>